[Unit]
Description=Bazarr Subtitle Manager
After=network-online.target
Wants=network-online.target

[Container]
Image=lscr.io/linuxserver/bazarr:latest
ContainerName=systemd-bazarr
AutoUpdate=registry
Network=torrent-network

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Amsterdam

PublishPort=6767:6767

UserNS=keep-id
Volume=%h/containers/bazarr/config:/config:Z
Volume=/srv/media/movies:/movies:z
Volume=/srv/media/tv:/tv:z
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=on-failure
TimeoutStopSec=60

[Install]
WantedBy=default.target
