[Unit]
Description=FlareSolverr
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/flaresolverr/flaresolverr:latest
ContainerName=systemd-flaresolverr
AutoUpdate=registry
Network=torrent-network

Environment=TZ=Europe/Amsterdam

PublishPort=8191:8191

Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=on-failure
TimeoutStopSec=60

[Install]
WantedBy=default.target
