[Unit]
Description=qBittorrent
After=network-online.target
Wants=network-online.target

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
ContainerName=systemd-qbittorrent
AutoUpdate=registry

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Amsterdam
Environment=WEBUI_PORT=8080
Environment=TORRENTING_PORT=6881

PublishPort=8080:8080
PublishPort=6881:6881
PublishPort=6881:6881/udp

Volume=%h/containers/qbittorrent/config:/config:Z
Volume=%h/containers/qbittorrent/downloads:/downloads:z

[Service]
Restart=on-failure
TimeoutStopSec=60

[Install]
WantedBy=default.target
