[Unit]
Description=Radarr Movie Manager
After=network-online.target
Wants=network-online.target

[Container]
Image=lscr.io/linuxserver/radarr:latest
ContainerName=systemd-radarr
AutoUpdate=registry
Network=torrent-network

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Amsterdam
UserNS=keep-id

PublishPort=7878:7878

Volume=%h/containers/radarr/config:/config:Z
Volume=/srv/media/movies:/movies:z
Volume=%h/containers/qbittorrent/downloads:/downloads:z
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=on-failure
TimeoutStopSec=60

[Install]
WantedBy=default.target
