[Unit]
Description=Uptime Kuma Monitoring
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/louislam/uptime-kuma:2-rootless
ContainerName=systemd-uptime-kuma
AutoUpdate=registry

PublishPort=3001:3001
AddCapability=NET_RAW

Volume=%h/containers/uptime-kuma:/app/data:Z,U
Volume=/etc/localtime:/etc/localtime:ro
Environment=TZ=Europe/Amsterdam

[Service]
Restart=on-failure
TimeoutStopSec=60

[Install]
WantedBy=default.target
